<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/login.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="logo">
        <table>
            <tr>
                <td><img src="images/logo.png" width="145" height="97" alt="LOGO"></td><td> <h1>My cat's blog</h1></td>
            </tr>
        </table>
    </div>
    <div id="header">
        <div id="nav">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#registro">Registro</a></li>
                <li><a href="#galeria">Galeria</a></li>
                <li><a href="">Discución</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div class="home">
            <br><br><br><br>
            <iframe src="home.html" frameborder="0" width="600" height="340" id="home"></iframe>
        </div>
        <div class="registro">
            <br><br>
            <iframe src="registro.html" frameborder="0" width="1200" height="800" id="registro"></iframe>
        </div>
        <div class="galeria">
            <br><br>
            <iframe src="galeria.html" frameborder="0" width="1200" height="530" id="galeria"></iframe>
        </div>
       
        <div class="article column1">
            <p>Column One</p>
        </div>
        <div class="article column2">
            <p>Column Two</p>
        </div>
        <div class="article column3">
            <p>Column Three</p>
        </div>
       
    </div>
    <div id="footer">
        <p>
            <a href="#header"><img src="images/up.png" alt="" width="64" height="64" style="text-align: right;"></a>
        </p>
    </div>
</body>
</html>