<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/registro_style.css">
</head>
<body>
    <form>
        <fieldset>
            <legend>Registro</legend>
			<label for="name">Nombre: </label><br><input type="text" id="name" />
            <br> <label for="email">E-mail: </label><br><input type="text" id="email" />
            <br> <label for="pass">Contrasena: </label><br><input type="password" id="pass" />
            <br> <label for="Sexo">Sexo:</label><br>
            <br><input type="radio" name="Sexo" value="Masculino">Masculino
            <br><input type="radio" name="Sexo" value="Femenino">Femenino
            <br>&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp;  &nbsp;
            <input type="submit" value="Subscribirse" id="submit" />
           
        </fieldset>
    </form>
</body>
</html>