<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/registro_style.css">
    <script src="js/registro_js.js"></script>
    <script src="js/registro.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

</head>
<body>
  

    <div class="text-center" style="padding:50px 0" >

        <div id="uno">
        <!--LOGIN-->
        <div class="text-center" style="padding:50px 0">  
            <div class="logo" style="color: DarkOrange">Iniciar seción</div>
            <!-- Main Form -->
            <div class="login-form-1">
                <form id="login" class="text-left">
                    <div class="login-form-main-message"></div>
                        <div class="main-login-form">
                            <div class="login-group">
                                <div class="form-group">
                                    <b style="color: #696969">Usuario:</b>
                                    <br>
                                    <input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="">
                                </div>
                            <div class="form-group">
                                <b style="color: #696969">Contraseña:</b>
                                <br>
                                <input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="">
                            </div>
                            <div class="form-group login-group-checkbox">
                                <input type="checkbox" id="lg_remember" name="lg_remember">
                                <label for="lg_remember">Recordar contrasena</label>
                            </div>

                        </div>
                        <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                    </div>
                    <div class="etc-login-form">
                        <p>Olvidaste tu contrasena? <a href="#forgot-password-form" id="olvidar">click aqui</a></p>
                        <p>Nuevo usuario? <a href="#register-form" id="crear">crea una cuenta</a></p>
                    </div>
                </form>
            </div>
        </div>
        </div>

        <!--Register-->
        <div id="dos" style="display:none">
        <div class="logo" style="color: DarkOrange">Registro</div>
        <!-- Main Form -->
        <div class="login-form-1">
            <form id="register" class="text-left">
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="form-group">
                            <b style="color: #696969">Usuario:</b>
                            <br>
                            <input type="text" class="form-control" id="reg_username" name="reg_username"maxlength="20" minlength="5" title="El nombre de usuario no puede medir más de 20 caracteres ni menos 5" required >
                        </div>
                        <div class="form-group">
                            <b style="color: #696969">Contraseña:</b>
                            <br>
                            <input type="password" class="form-control" id="password" name="regpassword"  pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="Su contrasena debe contener al menos una mayuscula, un numero o caracter especial con una longitud de 8 caracteres">
                        </div>
                        <div class="form-group">
                            <b style="color: #696969">Confirmar contraseña:</b>  
                            <br>                          
                            <input type="password" class="form-control" id="password_confirm" name="regpasswordconfirm" onsubmit="validatePasswordOnSubmit(register)" placeholder="" >
                        </div>
                        
                        <div class="form-group">
                            <b style="color: #696969">Email:</b>   
                            <br>                         
                            <label for="reg_email" class="sr-only">Email</label>
                            <input type="text" class="form-control" id="reg_email" name="reg_email" oninput="validatePassword(register)">
                        </div>
                        <div class="form-group">
                            <b style="color: #696969">Nombres:</b>
                            <br>
                            <input type="text" class="form-control" id="reg_fullname" name="nombre" placeholder="">
                        </div>  
                        <div class="form-group">
                            <b style="color: #696969">Apellido paterno:</b>
                            <input type="text" class="form-control" id="reg_fullname" name="paterno" placeholder="">
                        </div>
                        <div class="form-group">
                            <b style="color: #696969">Apellido materno:</b>                            
                            <label for="materno" class="sr-only">rfc</label>
                            <input type="text" class="form-control" id="reg_fullname" name="materno" placeholder="">
                        </div>
                        <div class="form-group">
                            <b style="color: #696969">fecha de nacimiento:</b> <input type="date" name="datebd" id="datebd">
                        </div>
                        <div class="form-group">
                            <b style="color: #696969">RFC:</b>
                            <input type="text" class="form-control" id="rfc" name="rfc" placeholder="" onfocus="getRFC(register)">
                        </div>
                        <div class="form-group login-group-checkbox">
                            <input type="radio" class="" name="reg_gender" id="male" placeholder="">
                            <label for="male">masculino</label>
                            
                            <input type="radio" class="" name="reg_gender" id="female" placeholder="">
                            <label for="female">femenino</label>
                        </div>
                        
                        <div class="form-group login-group-checkbox">
                            <input type="checkbox" class="" id="reg_agree" name="reg_agree">
                            <label for="reg_agree">Estoy de acuerdo con <a href="#">terminos</a></label>
                        </div>
                    </div>
                    <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                </div>
                <div class="etc-login-form">
                    <p>ya tienes una cuenta? <a href="#" id="tener">inicia seción aquí</a></p>
                </div>
            </form>
        </div>
        </div>
        <!--Forgot-->

        <div id="tres" style="display:none">
        <div class="text-center" style="padding:50px 0">
            <div class="logo" style="color: DarkOrange">Contraseña olvidada</div>
            <!-- Main Form -->
            <div class="login-form-1">
                <form id="forgot" class="text-left">
                    <div class="etc-login-form">
                        <p> Cuando ingrese su dirección de correo electrónico registrada, se le enviarán instrucciones sobre cómo restablecer su contraseña. </ p>                    </div>
                    <div class="login-form-main-message"></div>
                    <div class="main-login-form">
                        <div class="login-group">
                            <div class="form-group">
                                <label for="fp_email" class="sr-only">Dirección de email</label>
                                <input type="text" class="form-control" id="fp_email" name="fp_email" placeholder="email">
                            </div>
                        </div>
                        <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                    </div>
                    <div class="etc-login-form">
                        <p>ya tienes una cuenta? <a href="#" id="have">inicia seción aquí</a></p>
                        <p>nuevo usuario? <a href="#" id="create">crea una nueva cuenta</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#olvidar").click(function(){
            $("#uno").hide()
            $("#dos").hide()
            $("#tres").show()
        })
        $("#crear").click(function(){
            $("#uno").hide()
            $("#dos").show()
            $("#tres").hide()
        })
        $("#tener").click(function(){
            $("#uno").show()
            $("#dos").hide()
            $("#tres").hide()
        })
        $("#have").click(function(){
            $("#uno").show()
            $("#dos").hide()
            $("#tres").hide()
        })
        $("#create").click(function(){
            $("#uno").hide()
            $("#dos").show()
            $("#tres").hide()
        })
    })        
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>    
</body>
</html>