
li :hover {
    color: black;
    
}

* {
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
    text-align: center;}
body {
    width: 90%;
    margin: 0 auto;
    /*background-image: url("images/bg.jpg");*/
}
#content {
    overflow: auto;}
#nav, .registro, .home, #footer {
    margin: 1%;}
.logo{
    display: inline;
    text-align: left
}
.column1, .column2, .column3 {
    width: 31.3%;
    float: left;
    margin: 1%;}
.column3 {
    margin-right: 0%;}
li {
    display: inline;
    padding: 0.5em;}
#nav, #footer {
    background-color: #efefef;
    padding: 0.5em 0;}
.registro{
    height: 20em;
    margin-bottom: 1em;
    background-color: #efefef;
} 

.home {
    height: 30em;
    margin-bottom: 1em;
    background-color: #efefef;
}
.article {
    height: 10em;
    margin-bottom: 1em;
    background-color: #efefef;}

